.cartStyle {
  margin: 0 2rem 0 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.marginToFooter {
  margin: 2rem 0 8rem 0;
}

.checkoutContainer {
  margin: 0 0 10rem 0;
}